
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cinzel:wght@600&family=Lobster&display=swap');

/* font-family: 'Arvo', serif;
font-family: 'Cinzel', serif;
font-family: 'Lobster', cursive; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vw;
    background-image: url(./space.jpg);
}

.random_page .scroll {
    /* position: relative; */
}

.random_page .scroll p {
    font-size: 2.5vw;
    color: pink;
    position: absolute;
    top: 5vw;
    left: 40vw;
    font-family: 'Cinzel';
}

.random_page .scroll i {
    font-size: 2vw;
    position: absolute;
    color: pink;
    top: 9vw;
    left: 48vw;
}

.random_page #find p {
    font-size: 13vw;
    margin-top: 20vw;
    margin-left: 15vw;
    color: pink;
    font-family: 'Lobster';
}

.random_page #your p {
    font-size: 13vw;
    position: absolute;
    left: 50vw;
    color: pink;
    font-family: 'Lobster';
}

.random_page #planet p {
    font-size: 13vw;
    margin-top: 18vw;
    margin-left: 15vw;
    color: pink;
    font-family: 'Lobster';
}

.random_page .find_your_planet {
    font-size: 1.3vw;
    color: pink;
    top: 80vw;
    left: 20vw;
    text-align: center;
    position: absolute;
    font-family: 'Cinzel';
}

.random_page #container #button_container {
    /* display: flex; */
}

.random_page #container #button_container .main_btn {
    width :7vw;
    height: 3vw;
    left: 64vw;
    position: absolute;
    background-color: pink;
    font-size: 1.5vw;
    color: black;
    border-radius: 10px;
    font-family: 'Cinzel';
    cursor: pointer;
    display: block;
}

.random_page #container #button_container .restart_btn{
    width :7vw;
    height: 3vw;
    left: 72vw;
    position: absolute;
    background-color: pink;
    font-size: 1.5vw;
    color: black;
    border-radius: 10px;
    font-family: 'Cinzel';
    cursor: pointer;
}

.random_page #container #inner_container {
    width: 29vw;
    height: 29vw;
    border: 2px solid pink;
    margin-top: 10vw;
    margin-left: 33vw;
    align-items: center;
    transition: 1s;
    object-fit: cover;
    position: relative;
}

.random_page #container #inner_container #image_shower {
    position: absolute;
    left: 4.2vw;
    top: 3.7vw;
}

.random_page #container #inner_container .loading {
    opacity: 0;
    position: absolute;
    transition: 0.4;
    font-size: 5vw;
    color: white;
    left: 11.7vw;
    top:10.5vw;
    animation: load 2s linear infinite;
}

@keyframes load {
    
    100% {
    	transform: rotate(360deg);
    }
}




/* FOOTER */

footer {
    width: 100%;
    height: 15vw;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10vw;
}


/* REGISTER */
footer .footer_inner .register {
    position: absolute;
}

footer .footer_inner .register p {
    font-size: 1.6vw;
    color: white;
    margin-top: 3vw ;
    margin-left: 8vw;
    font-family: 'Arvo';
}

footer .footer_inner .register .register_btn {
    /* background: rgba(255, 192, 203, 0.3); */
    border-radius: 10px;
    padding: 0.5vw 0.5vw;
    text-align: center;
    display: inline-block;
    margin: 2vw 8vw;
}

footer .footer_inner .register .register_btn span {
    font-size: 1.1vw;
    color: pink;
    font-family: 'Arvo';
    cursor: pointer;
}

footer .footer_inner .register .register_btn span i {
    font-size: 1.5vw;
    color: pink;
    margin-left: 1vw;
}


/* SHARE */
footer .footer_inner .share {
    position: absolute;
}

footer .footer_inner .share p {
    font-size: 1.6vw;
    color: white;
    margin-top: 3vw ;
    margin-left: 39vw;
    font-family: 'Arvo';
}

footer .footer_inner .share .share_icons {
    position: absolute;
    margin-top: 3vw;
    margin-left: 40vw;
}

footer .footer_inner .share .share_icons i {
    font-size: 1.5vw;
    color: pink;
    margin-left: 1.8vw;
}


/* SAVE */
footer .footer_inner .save {
    position: absolute;
}

footer .footer_inner .save p {
    font-size: 1.6vw;
    color: white;
    margin-top: 3vw ;
    margin-left: 71vw;
    font-family: 'Arvo';
}

footer .footer_inner .save_icons {
    position: absolute;
    margin-top: 2.9vw;
    margin-left: 78vw;
}

footer .footer_inner .save_icons i {
    font-size: 1.5vw;
    color: pink;
}